p {
    font-size: 12pt;
    color: #ffffff;
    font-family:"Arial";
}

h1 {
    font-size: 15pt;
    color: #000000;
    font-family: arial;
}

h2 {
    font-size: 12pt;
    color: #ffffff;
    font-family: arial;
}